{% load static %}
<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PixelWars ∞</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
</head>

<body>
    <div class="loader-wrapper">
        <div class="loader"></div>
    </div>

    <div class="header">
        <h1 class="title">PixelWars ∞</h1>
    </div>

    <section class="presentation">
        <div class="container">
            <h2>Présentation</h2>
            <p>Marre d'attendre tous les 10 ans pour déclencher un PixelWar épique ? <br>
                Plongez dans notre univers pixelisé où les guerres de pixels ne prennent jamais fin (tant que notre
                machine qui l'héberge ne sature pas...) <br>
                (Un peu d'éthique svp, on veut pas se faire ban)</p>
        </div>
    </section>

    <section class="jeu">
        <div class="container">
            <h2 class="battle-title {% if pixelUpdated %}updated{% endif %}">Battez-vous !</h2>
            <div class="jeu-container">
                <div class="pixel-container">
                    {% for pixel in pixels %}
                    <div id="pixel-{{ pixel.id }}" class="pixel" style="background-color: {{ pixel.color }}"
                        onclick="showColorPicker(event, {{ pixel.id }})"></div>
                    <div id="color-picker-{{ pixel.id }}" class="color-picker-form">
                        <input type="color" id="color-{{ pixel.id }}">
                        <button onclick="changePixelColor({{ pixel.id }})">Valider</button>
                        <button onclick="cancelColorPicker({{ pixel.id }})">Annuler</button>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
<br>
<br>
<br>
<br>
<br>
<br>
    <footer class="footer">
        <p>&copy; 2023 PixelWars infinity. Tous droits réservés.</p>
    </footer>

    <div id="overlay" class="overlay"></div>




    <script src="{% static 'script.js' %}"></script>
    <script src="{% static 'jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'bootstrap.min.js' %}"></script>
</body>

</html>

